.board{
    background-color: #000;
    float: left;
    width: 100%;
    height:100vw;
    position:relative;
}
/* .tile { 
    float: left;
    height: 5em;
    width: 5em;            
}  */

.row:nth-child(odd) .tile:nth-child(odd),
.row:nth-child(even) .tile:nth-child(even){
    background-color: #fff;
}

.piece {        
    height: 80%;
    width: 80%; 
    border-radius: 50%;    
    margin: auto auto auto auto;     
}

.player0{
    background-color: #00F; 
}

.player1{
    background-color: #F00; 
}

.piece .selected{
    border: 3px #777 solid;
    background-color: aqua;
} 
.selected .piece {
    background-color: aquamarine;
}


.selected{
    background-color: aqua;
}